extends layout

block content


	h1= title
		h2.
			Are you sure you want to delete?

	form#DeleteContact(name='deletecontact', method='post' action='')
		button.btn.btn-info(type="submit") Delete
	a.btn.btn-info( href="/contactlist") No, go back