extends layout

block content
	h1= title

		form#formAddUser(name="addcontact",method="post",action="/addcontact")
			input#inputUserFirst(type="text", placeholder="First", name="first")
			input#inputUserLast(type="text", placeholder="Last", name="last") 
			br
			input#inputUserEmail(type="text", placeholder="Email", name="email")
			bf
			input#inputUserTitle(type="text", placeholder="Title", name="titl")
			input#inputUserCompany(type="text", placeholder="Company", name="company")
			br
			input#inputUserMet(type="text", placeholder="Met", name="met")
			input#inputUserDate(type="text", placeholder="Date", name="date",value="#{moment().format('MM/DD/YYYY')}")
			br
			input#inputUserComment(type="text", placeholder="Comment", name="comment")
			br
			button.btn.btn-info(type="submit") submit 

	